:root{
  --main-background-color: lightblue;
  --page-background-color: white;
  --switcher-background-color: blue
}
[data-theme="dark"] {
  --main-background-color: blue;
  --page-background-color: lightblue;
  --switcher-background-color: lightblue
}
















body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: ghostwhite;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
[data-theme='dark']{
--headder-color: darkblue
}
